<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-unityads" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-plugin-unityads</name>
  <js-module name="unityads" src="www/cordova-plugin-unityads.js">
    <clobbers target="unityads" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UnityAdsPlugin">
        <param name="android-package" value="jp.phi.cordova.plugin.unityads.UnityAdsPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>     
    </config-file>

    <source-file src="src/android/UnityAdsPlugin.java" target-dir="src/jp/phi/cordova/plugin/unityads" />
    <source-file src="src/android/unity-ads.jar" target-dir="libs" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="UnityAdsPlugin">
        <param name="ios-package" value="CDVUnityAds"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVUnityAds.h" />
    <source-file src="src/ios/CDVUnityAds.m" />

    <framework src="src/ios/UnityAds.framework" custom="true"/>
    <resource-file src="src/ios/UnityAds.bundle" /> 
    <framework src="StoreKit.framework"/>
    <framework src="AdSupport.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="SystemConfiguration.framework"/>
  </platform>
</plugin>